.flexContainer
{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}


.inputStyle
{
    font-size: 1.2em;
    padding: 3px;
    display: inline-block;
    width: 30%;
}